<section class="phx-hero">
  <h3 class="onright"><i><%= gettext "Start the %{name}!", name: "Video.logue" %></i></h3>
  <div class="onleft">
    <ul>
      <li><a href="/my/videos">My Videos</a></li>
    </ul>
  </div>
</section>
